.Video,.Menu-Items,.Daniel-Reinecke,.Home-Page-Menu,.Photography-Page-Menu,.Testx2
{
	font-family: quicksand-n4, sans-serif;
}

.Image-Detail-Tags,.Description-Quote,.Imaage-Detail-Tag-Righ-Align
{
	font-family: ovo-n4, serif;
}

.Image-Title,.Image-Title-Verticle,.Photo-Submenus
{
	font-family: muli-n3, sans-serif;
}

#buttonu11001.ButtonSelected #u11002-4 p,#buttonu11001.ButtonSelected #u11002-4 h1,#buttonu10998.ButtonSelected #u10999-4 p,#buttonu10998.ButtonSelected #u10999-4 h1,#buttonu10994.ButtonSelected #u10995-4 p,#buttonu10994.ButtonSelected #u10995-4 h1
{
	font-family: quicksand-n4, sans-serif;
}

#u16582-4,#u16583-4
{
	font-family: quicksand-n3, sans-serif;
}

#u25877-4
{
	font-family: quicksand-n3, sans-serif;
}

#u25879-4
{
	font-family: quicksand-n3, sans-serif;
}

