.Video,.Menu-Items,.Daniel-Reinecke,.Home-Page-Menu,.Photography-Page-Menu,.Testx2
{
	font-family: quicksand-n4, sans-serif;
}

.Image-Detail-Tags,.Description-Quote,.Imaage-Detail-Tag-Righ-Align
{
	font-family: ovo-n4, serif;
}

.Image-Title,.Image-Title-Verticle,.Photo-Submenus
{
	font-family: muli-n3, sans-serif;
}

#buttonu16165.ButtonSelected #u16166-4 p,#buttonu16165.ButtonSelected #u16166-4 h1,#buttonu16150.ButtonSelected #u16151-4 p,#buttonu16150.ButtonSelected #u16151-4 h1,#buttonu16159.ButtonSelected #u16160-4 p,#buttonu16159.ButtonSelected #u16160-4 h1
{
	font-family: quicksand-n4, sans-serif;
}

#u16638-4,#u16639-4
{
	font-family: quicksand-n3, sans-serif;
}

#u25891-4
{
	font-family: quicksand-n3, sans-serif;
}

