.Video,.Menu-Items,.Daniel-Reinecke,.Home-Page-Menu,.Photography-Page-Menu,.Testx2
{
	font-family: quicksand-n4, sans-serif;
}

.Image-Detail-Tags,.Description-Quote,.Imaage-Detail-Tag-Righ-Align
{
	font-family: ovo-n4, serif;
}

.Image-Title,.Image-Title-Verticle,.Photo-Submenus
{
	font-family: muli-n3, sans-serif;
}

#u20389-4,#u20394-4
{
	font-family: quicksand-n3, sans-serif;
}

#u22094-4
{
	font-family: quicksand-n3, sans-serif;
}

#u22096-4
{
	font-family: quicksand-n3, sans-serif;
}

#u22092-4
{
	font-family: quicksand-n3, sans-serif;
}

