.Video,.Menu-Items,.Daniel-Reinecke,.Home-Page-Menu,.Photography-Page-Menu,.Testx2
{
	font-family: quicksand-n4, sans-serif;
}

.Image-Detail-Tags,.Description-Quote,.Imaage-Detail-Tag-Righ-Align
{
	font-family: ovo-n4, serif;
}

.Image-Title,.Image-Title-Verticle,.Photo-Submenus
{
	font-family: muli-n3, sans-serif;
}

#buttonu14291.ButtonSelected #u14292-4 p,#buttonu14291.ButtonSelected #u14292-4 h1,#buttonu14289.ButtonSelected #u14290-4 p,#buttonu14289.ButtonSelected #u14290-4 h1,#buttonu14285.ButtonSelected #u14286-4 p,#buttonu14285.ButtonSelected #u14286-4 h1
{
	font-family: quicksand-n4, sans-serif;
}

#u16666-4,#u16667-4
{
	font-family: quicksand-n3, sans-serif;
}

#u14316-4
{
	font-family: quicksand-n3, sans-serif;
}

#u14305-4
{
	font-family: quicksand-n3, sans-serif;
}

#u14309-4
{
	font-family: quicksand-n3, sans-serif;
}

#u14322-4
{
	font-family: quicksand-n3, sans-serif;
}

