.version.index /* version checker */
{
	color: #00000E;
	background-color: #74BECD;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 666px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u969
{
	z-index: 10;
	width: 70px;
	min-height: 70px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
	left: -289px;
	background: transparent url("../images/icon_qooqee_widget.jpg") no-repeat center center;
	background-size: cover;
}

#u14975
{
	z-index: 90;
	height: 74px;
	top: 0px;
}

#u14975-bw
{
	z-index: 90;
}

#slideshowu1077
{
	z-index: 4;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 155px;
}

#u1083
{
	position: absolute;
	background-color: transparent;
}

#u1083popup
{
	z-index: 5;
}

#u1084
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u15002
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u14974
{
	z-index: 93;
	height: 3px;
	top: 69px;
}

#u14974-bw
{
	z-index: 93;
}

#u14972
{
	z-index: 91;
	height: 4px;
	top: 71px;
}

#u14972-bw
{
	z-index: 91;
}

#u14973
{
	z-index: 92;
	height: 5px;
	top: 75px;
}

#u14973-bw
{
	z-index: 92;
}

#pamphletu15045
{
	z-index: 44;
	width: 0.01px;
	height: 170px;
	padding-bottom: 110px;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 224px;
}

#u15054
{
	z-index: 45;
	width: 553px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u15056
{
	position: absolute;
	width: 552px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: 1px;
}

#u15056:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u15060
{
	z-index: 47;
	width: 547px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F4F8FC;
	background-color: rgba(201, 223, 242, 0.2);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	-pie-background: rgba(201, 223, 242, 0.2);
}

#u15056:hover #u15060
{
	background-color: #E4EFF8;
	background-color: rgba(201, 223, 242, 0.5);
	width: 547px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
	-pie-background: rgba(201, 223, 242, 0.5);
}

#u15056.PamphletThumbSelected #u15060
{
	background-color: #E4EFF8;
	background-color: rgba(201, 223, 242, 0.5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	width: 547px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
	-pie-background: rgba(201, 223, 242, 0.5);
}

#u15061
{
	z-index: 48;
	width: 547px;
	border-style: solid;
	border-color: #C9DFF2;
	background-color: #330D06;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	border-width: 1px 0px;
}

#u15056:hover #u15061
{
	background-color: #212126;
	width: 547px;
	min-height: 0px;
	margin: 36px -10000px 0px 0px;
}

#u15056.PamphletThumbSelected #u15061
{
	border-color: #C9DFF2;
	background-color: #212126;
	width: 547px;
	min-height: 0px;
	margin: 36px -10000px 0px 0px;
}

#u15062-4
{
	z-index: 49;
	width: 546px;
	min-height: 49px;
	background-color: transparent;
	font-size: 43px;
	color: #C9DFF2;
	line-height: 43px;
	letter-spacing: 7px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u15056:hover #u15062-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 8px -10000px 0px 0px;
}

#u15056.PamphletThumbSelected #u15062-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 8px -10000px 0px 0px;
}

#u15056:hover #u15062-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u15056.PamphletThumbSelected #u15062-4 p
{
	color: #C9DFF2;
	visibility: inherit;
	letter-spacing: 7px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	font-size: 43px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u15063-4
{
	z-index: 53;
	width: 256px;
	min-height: 23px;
	background-color: transparent;
	font-size: 22px;
	color: #C9DFF2;
	line-height: 22px;
	letter-spacing: 1px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 148px;
}

#u15056:hover #u15063-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 93px -10000px 0px 0px;
}

#u15056.PamphletThumbSelected #u15063-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 93px -10000px 0px 0px;
}

#u15056:hover #u15063-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u15056.PamphletThumbSelected #u15063-4 p
{
	color: #C9DFF2;
	visibility: inherit;
	letter-spacing: 1px;
	line-height: 1;
	text-align: center;
	font-size: 22px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u15046
{
	position: absolute;
	width: 474px;
	background-color: transparent;
	top: 122px;
	left: 38px;
}

#u15046popup
{
	z-index: 57;
}

#u15049
{
	z-index: 58;
	width: 474px;
	height: 158px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pamphletu1178
{
	z-index: 59;
	width: 0.01px;
	height: 123px;
	padding-bottom: 32px;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u1187
{
	position: absolute;
	width: 380px;
	background-color: transparent;
}

#u1187popup
{
	z-index: 60;
}

#u1206
{
	z-index: 61;
	width: 380px;
	height: 155px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u1206:hover
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 0px 5px 5px ;
	-webkit-border-radius: 0px 0px 5px 5px ;
	-khtml-border-radius: 0px 0px 5px 5px ;
	border-radius: 0px 0px 5px 5px ;
	margin: 0px -10000px 0px 0px;
}

#u1206:active
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u2964
{
	z-index: 62;
	width: 379px;
	height: 155px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
}

#u2964:hover
{
	margin: 0px -10000px 0px 0px;
}

#pbuttonu3211
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 59px;
	margin-left: 10px;
}

#buttonu3211
{
	z-index: 64;
	width: 359px;
	height: 38px;
	border-style: none;
	border-color: transparent;
	background-color: #212126;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu3211:hover #buttonu3211
{
	width: 357px;
	height: 36px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FBB03B;
	background-color: #212126;
	background-color: rgba(33, 33, 38, 1);
	-pie-background: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u3212-4
{
	z-index: 65;
	width: 112px;
	min-height: 25px;
	background-color: transparent;
}

#pbuttonu3211:hover #u3212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 112px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 123px;
	min-height: 25px;
}

#pbuttonu3211:hover #u3212-4 p,#pbuttonu3211:hover #u3212-4 h2
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu3213
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 10px;
}

#buttonu3213
{
	z-index: 71;
	width: 360px;
	height: 38px;
	border-style: none;
	border-color: transparent;
	background-color: #212126;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu3213:hover #buttonu3213
{
	width: 358px;
	height: 36px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FBB03B;
	background-color: #212126;
	background-color: rgba(33, 33, 38, 1);
	-pie-background: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u3214-4
{
	z-index: 72;
	width: 112px;
	min-height: 25px;
	background-color: transparent;
}

#pbuttonu3213:hover #u3214-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 112px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 123px;
	min-height: 25px;
}

#pbuttonu3213:hover #u3214-4 p,#pbuttonu3213:hover #u3214-4 h2
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu3215
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 106px;
	margin-left: 10px;
}

#buttonu3215
{
	z-index: 78;
	width: 360px;
	height: 38px;
	border-style: none;
	border-color: transparent;
	background-color: #212126;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu3215:hover #buttonu3215
{
	width: 358px;
	height: 36px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FBB03B;
	background-color: #212126;
	background-color: rgba(33, 33, 38, 1);
	-pie-background: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u3216-4
{
	z-index: 79;
	width: 112px;
	min-height: 25px;
	background-color: transparent;
}

#pbuttonu3215:hover #u3216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 112px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 123px;
	min-height: 25px;
}

#pbuttonu3211.ButtonSelected #u3212-4,#pbuttonu3213.ButtonSelected #u3214-4,#pbuttonu3215.ButtonSelected #u3216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
}

#pbuttonu3215:hover #u3216-4 p,#pbuttonu3215:hover #u3216-4 h2
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu3211.ButtonSelected #u3212-4 p,#pbuttonu3211.ButtonSelected #u3212-4 h2,#pbuttonu3213.ButtonSelected #u3214-4 p,#pbuttonu3213.ButtonSelected #u3214-4 h2,#pbuttonu3215.ButtonSelected #u3216-4 p,#pbuttonu3215.ButtonSelected #u3216-4 h2
{
	color: #C9DFF2;
	visibility: inherit;
}

#pbuttonu3211 #u3212-4,#pbuttonu3213 #u3214-4,#pbuttonu3215 #u3216-4
{
	position: relative;
	width: 112px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 124px;
}

#u1183
{
	z-index: 84;
	width: 256px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 171px;
}

#u1205
{
	position: absolute;
	width: 256px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u1205
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1205:hover
{
	margin: 0px;
}

.ie #u1205:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15056.PamphletThumbSelected,#u1205.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

.ie #u1205.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu16208
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 79px;
	margin-left: 378px;
}

#u16208
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u16212
{
	z-index: 3;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 164px;
	margin-top: 108px;
	position: relative;
}

#u14978
{
	z-index: 94;
	width: 79px;
	top: 29px;
	left: 50%;
	margin-left: -38px;
}

#pu16190
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 616px;
	margin-left: -100px;
}

#u16190
{
	z-index: 11;
	padding-bottom: 2px;
}

#u16190_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#u25677
{
	z-index: 86;
	width: 306px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 130px;
}

#u25680
{
	z-index: 87;
	width: 90px;
	min-height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u25678
{
	z-index: 88;
	width: 107px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u25682
{
	z-index: 89;
	width: 160px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u16191-4
{
	z-index: 12;
	width: 311px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 445px;
}

#u16190-bw
{
	z-index: 11;
	margin-top: -2px;
	height: 46px;
}

#u16192-4
{
	z-index: 16;
	width: 311px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 445px;
}

#u16536
{
	z-index: 21;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 923px;
}

#u16542
{
	z-index: 24;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 966px;
}

#u16530
{
	z-index: 27;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1052px;
}

#u16538
{
	z-index: 30;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 880px;
}

#u16534
{
	z-index: 33;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 751px;
}

#u16528
{
	z-index: 36;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 794px;
}

#u16532
{
	z-index: 39;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1009px;
}

#u16540
{
	z-index: 42;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 837px;
}

#u16536_states,#u16542_states,#u16530_states,#u16538_states,#u16534_states,#u16528_states,#u16532_states,#u16540_states
{
	height: 56px;
	width: 56px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 79px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -616px;
}

