.version.misc3 /* version checker */
{
	color: #0000F1;
	background-color: #E56223;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 720px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u15745
{
	z-index: 3;
	width: 70px;
	min-height: 70px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -78px;
	left: -296px;
	background: transparent url("../images/icon_qooqee_widget.jpg") no-repeat center center;
	background-size: cover;
}

#u16148
{
	z-index: 24;
	height: 74px;
	top: 0px;
}

#u16148-bw
{
	z-index: 24;
}

#u16145
{
	z-index: 27;
	height: 3px;
	top: 69px;
}

#u16145-bw
{
	z-index: 27;
}

#u16149
{
	z-index: 25;
	height: 4px;
	top: 71px;
}

#u16149-bw
{
	z-index: 25;
}

#u16154
{
	z-index: 26;
	height: 5px;
	top: 75px;
}

#u16154-bw
{
	z-index: 26;
}

#pu19672
{
	width: 0.01px;
	margin-right: -10000px;
}

#u19672
{
	z-index: 2;
	width: 1000px;
	padding-bottom: 344px;
	margin-right: -10000px;
}

#buttonu25896
{
	z-index: 19;
	width: 65px;
	border-color: #787878;
	background-color: #F2F2F2;
	background-color: rgba(127, 127, 127, 0.1);
	-moz-border-radius: 0px 40px 40px 0px ;
	-webkit-border-radius: 0px 40px 40px 0px ;
	-khtml-border-radius: 0px 40px 40px 0px ;
	border-radius: 0px 40px 40px 0px ;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 316px;
	-pie-background: rgba(127, 127, 127, 0.1);
}

#buttonu25896:hover
{
	background-color: #BCBCBD;
	background-color: rgba(33, 33, 38, 0.3);
	margin: 316px -10000px 0px 0px;
	-pie-background: rgba(33, 33, 38, 0.3);
}

#buttonu25896.ButtonSelected
{
	background-color: #F2F2F2;
	background-color: rgba(127, 127, 127, 0.1);
	margin: 316px -10000px 0px 0px;
	-pie-background: rgba(127, 127, 127, 0.1);
}

#u25897-4
{
	z-index: 20;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	color: #212126;
	line-height: 39px;
	letter-spacing: 1px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#buttonu25896:hover #u25897-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 11px -10000px 0px 0px;
}

#buttonu25896.ButtonSelected #u25897-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 11px -10000px 0px 0px;
}

#buttonu25896:hover #u25897-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 30px;
}

#buttonu25896.ButtonSelected #u25897-4 p
{
	color: #212126;
	visibility: inherit;
}

#u24523
{
	z-index: 5;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 100px;
	background: url("../images/u24523_states.png") no-repeat 0px 0px;
}

#u24523:hover #u24523_states
{
	background: url("../images/u24523_states-r.png") no-repeat 0px 0px;
}

.hidpi #u24523
{
	background-image: url("../images/u24523_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u24523:hover #u24523_states
{
	background-image: url("../images/u24523_states-r_2x.png");
	background-size: 250px 200px;
}

#u24538
{
	z-index: 8;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 248px;
	left: 236px;
	background: url("../images/u24538_states.png") no-repeat 0px 0px;
}

#u24538:hover #u24538_states
{
	background: url("../images/u24538_states-r.png") no-repeat 0px 0px;
}

.hidpi #u24538
{
	background-image: url("../images/u24538_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u24538:hover #u24538_states
{
	background-image: url("../images/u24538_states-r_2x.png");
	background-size: 250px 200px;
}

#u24526
{
	z-index: 11;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 375px;
	background: url("../images/u24526_states.png") no-repeat 0px 0px;
}

#u24526:hover #u24526_states
{
	background: url("../images/u24526_states-r.png") no-repeat 0px 0px;
}

.hidpi #u24526
{
	background-image: url("../images/u24526_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u24526:hover #u24526_states
{
	background-image: url("../images/u24526_states-r_2x.png");
	background-size: 250px 200px;
}

#u24535
{
	z-index: 14;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 248px;
	left: 514px;
	background: url("../images/u24535_states.png") no-repeat 0px 0px;
}

#u24535:hover #u24535_states
{
	background: url("../images/u24535_states-r.png") no-repeat 0px 0px;
}

.hidpi #u24535
{
	background-image: url("../images/u24535_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u24535:hover #u24535_states
{
	background-image: url("../images/u24535_states-r_2x.png");
	background-size: 250px 200px;
}

#u24529
{
	z-index: 17;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 650px;
	background: url("../images/u24529_states.png") no-repeat 0px 0px;
}

#u24523_states,#u24538_states,#u24526_states,#u24535_states,#u24529_states
{
	height: 200px;
	width: 250px;
	vertical-align: top;
}

#u24529:hover #u24529_states
{
	background: url("../images/u24529_states-r.png") no-repeat 0px 0px;
}

.hidpi #u24529
{
	background-image: url("../images/u24529_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u24529:hover #u24529_states
{
	background-image: url("../images/u24529_states-r_2x.png");
	background-size: 250px 200px;
}

#pu25774
{
	width: 0.01px;
	padding-bottom: 193px;
	margin-right: -10000px;
	margin-top: -50px;
	margin-left: 16px;
}

#u25774
{
	z-index: 45;
	width: 373px;
	padding-bottom: 182px;
	top: 40px;
	left: 50%;
	margin-left: -484px;
}

#pamphletu25775
{
	z-index: 46;
	width: 0.01px;
	height: 29px;
	padding-bottom: 80px;
	top: 40px;
	left: 50%;
	margin-left: -484px;
}

#u25786
{
	z-index: 47;
	width: 100px;
	margin-right: -10000px;
}

#u25787
{
	width: 100px;
	padding-bottom: 29px;
}

#u25787:hover
{
	margin: 0px;
}

#buttonu25788
{
	z-index: 49;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: -484px;
}

#buttonu25788:hover
{
	margin: 0px 0px 0px -484px;
}

#buttonu25788.ButtonSelected
{
	margin: 0px 0px 0px -484px;
}

#u25789-4
{
	z-index: 50;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu25788:hover #u25789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#u25782popup
{
	z-index: 54;
}

#u25783
{
	z-index: 55;
	width: 100px;
	height: 67px;
	margin-right: -10000px;
}

#u25785-4
{
	z-index: 56;
	width: 100px;
	min-height: 35px;
}

#u25785-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#u25784-4
{
	z-index: 60;
	width: 100px;
	min-height: 35px;
}

#u25785-4.MuseLinkActive,#u25784-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#pamphletu25790
{
	z-index: 64;
	width: 0.01px;
	height: 29px;
	padding-bottom: 153px;
	top: 40px;
	left: 50%;
	margin-left: -348px;
}

#u25795
{
	z-index: 65;
	width: 100px;
	margin-right: -10000px;
}

#u25796
{
	width: 100px;
	padding-bottom: 29px;
}

#u25787.PamphletThumbSelected,#u25796:hover
{
	margin: 0px;
}

#buttonu25797
{
	z-index: 67;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: -348px;
}

#buttonu25797:hover
{
	margin: 0px 0px 0px -348px;
}

#buttonu25797.ButtonSelected
{
	margin: 0px 0px 0px -348px;
}

#u25798-4
{
	z-index: 68;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu25788.ButtonSelected #u25789-4,#buttonu25797:hover #u25798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#u25799popup
{
	z-index: 72;
}

#u25800
{
	z-index: 73;
	width: 100px;
	height: 140px;
	margin-right: -10000px;
}

#u25783_position_content,#u25800_position_content
{
	margin-top: -3px;
}

#u25802-4
{
	z-index: 74;
	width: 100px;
	min-height: 35px;
}

#u25784-4.MuseLinkActive,#u25802-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#u25801-4
{
	z-index: 78;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25801-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25804-4
{
	z-index: 82;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25801-4.MuseLinkActive,#u25804-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25803-4
{
	z-index: 86;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25804-4.MuseLinkActive,#u25803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#pamphletu25807
{
	z-index: 90;
	width: 0.01px;
	height: 29px;
	padding-bottom: 119px;
	top: 40px;
	left: 50%;
	margin-left: -211px;
}

#u25817
{
	z-index: 91;
	width: 100px;
	margin-right: -10000px;
}

#u25818
{
	width: 100px;
	padding-bottom: 29px;
}

#u25796.PamphletThumbSelected,#u25818:hover
{
	margin: 0px;
}

#u25818.PamphletThumbSelected
{
	margin: 0px;
}

#buttonu25819
{
	z-index: 93;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: -211px;
}

#buttonu25819:hover
{
	margin: 0px 0px 0px -211px;
}

#buttonu25819.ButtonSelected
{
	margin: 0px 0px 0px -211px;
}

#u25820-4
{
	z-index: 94;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu25797.ButtonSelected #u25798-4,#buttonu25819:hover #u25820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#u25808popup
{
	z-index: 98;
}

#u25782,#u25799,#u25808
{
	width: 100px;
	top: 39px;
}

#u25809
{
	z-index: 99;
	width: 100px;
	height: 106px;
	margin-right: -10000px;
}

#u25809_position_content
{
	margin-top: -3px;
	padding-bottom: 2px;
}

#u25810-4
{
	z-index: 100;
	width: 100px;
	min-height: 35px;
}

#u25802-4.MuseLinkActive,#u25810-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#u25810-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#u25811-4
{
	z-index: 104;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25803-4.MuseLinkActive,#u25811-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25812-4
{
	z-index: 108;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25811-4.MuseLinkActive,#u25812-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25812-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u16161
{
	z-index: 28;
	width: 79px;
	top: 29px;
	left: 50%;
	margin-left: -38px;
}

#buttonu16159
{
	z-index: 30;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: 127px;
}

#buttonu16159:hover
{
	margin: 0px 0px 0px 127px;
}

#buttonu16159.ButtonSelected
{
	margin: 0px 0px 0px 127px;
}

#u16160-4
{
	z-index: 31;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu25819.ButtonSelected #u25820-4,#buttonu16159:hover #u16160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#buttonu16150
{
	z-index: 35;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: 263px;
}

#buttonu16150:hover
{
	margin: 0px 0px 0px 263px;
}

#buttonu16150.ButtonSelected
{
	margin: 0px 0px 0px 263px;
}

#u16151-4
{
	z-index: 36;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu16159.ButtonSelected #u16160-4,#buttonu16150:hover #u16151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#buttonu16165
{
	z-index: 40;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: 400px;
}

#buttonu16165:hover
{
	margin: 0px 0px 0px 400px;
}

#buttonu16165.ButtonSelected
{
	margin: 0px 0px 0px 400px;
}

#u16166-4
{
	z-index: 41;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu16150.ButtonSelected #u16151-4,#buttonu16165:hover #u16166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#buttonu16165.ButtonSelected #u16166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#pu16637
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 720px;
	margin-left: -100px;
}

#u16637
{
	z-index: 112;
	padding-bottom: 2px;
}

#u16637_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#u25656
{
	z-index: 145;
	width: 306px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 130px;
}

#u25659
{
	z-index: 146;
	width: 90px;
	min-height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u25657
{
	z-index: 147;
	width: 107px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u25661
{
	z-index: 148;
	width: 160px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u16638-4
{
	z-index: 113;
	width: 311px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 445px;
}

#u16637-bw
{
	z-index: 112;
	margin-top: -1px;
	height: 46px;
}

#u16639-4
{
	z-index: 117;
	width: 311px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 445px;
}

#u16879
{
	z-index: 122;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 923px;
}

#u16893
{
	z-index: 125;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 966px;
}

#u16891
{
	z-index: 128;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1052px;
}

#u16881
{
	z-index: 131;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 880px;
}

#u16883
{
	z-index: 134;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 751px;
}

#u16889
{
	z-index: 137;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 794px;
}

#u16887
{
	z-index: 140;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1009px;
}

#u16885
{
	z-index: 143;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 837px;
}

#u16879_states,#u16893_states,#u16891_states,#u16881_states,#u16883_states,#u16889_states,#u16887_states,#u16885_states
{
	height: 56px;
	width: 56px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 79px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -720px;
}

