.version.places1 /* version checker */
{
	color: #0000F3;
	background-color: #1BDEFB;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 749px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u9884
{
	z-index: 3;
	width: 70px;
	min-height: 70px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -78px;
	left: -296px;
	background: transparent url("../images/icon_qooqee_widget.jpg") no-repeat center center;
	background-size: cover;
}

#u10993
{
	z-index: 36;
	height: 74px;
	top: 0px;
}

#u10993-bw
{
	z-index: 36;
}

#u10996
{
	z-index: 39;
	height: 3px;
	top: 69px;
}

#u10996-bw
{
	z-index: 39;
}

#u11000
{
	z-index: 37;
	height: 4px;
	top: 71px;
}

#u11000-bw
{
	z-index: 37;
}

#u10997
{
	z-index: 38;
	height: 5px;
	top: 75px;
}

#u10997-bw
{
	z-index: 38;
}

#pu19671
{
	width: 0.01px;
	margin-right: -10000px;
}

#u19671
{
	z-index: 2;
	width: 1000px;
	padding-bottom: 344px;
	margin-right: -10000px;
}

#buttonu25874
{
	z-index: 31;
	width: 65px;
	border-color: #787878;
	background-color: #F2F2F2;
	background-color: rgba(127, 127, 127, 0.1);
	-moz-border-radius: 40px 0px 0px 40px ;
	-webkit-border-radius: 40px 0px 0px 40px ;
	-khtml-border-radius: 40px 0px 0px 40px ;
	border-radius: 40px 0px 0px 40px ;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 316px;
	left: 935px;
	-pie-background: rgba(127, 127, 127, 0.1);
}

#buttonu25874:hover
{
	background-color: #BCBCBD;
	background-color: rgba(33, 33, 38, 0.3);
	margin: 316px -10000px 0px 0px;
	-pie-background: rgba(33, 33, 38, 0.3);
}

#buttonu25874.ButtonSelected
{
	background-color: #F2F2F2;
	background-color: rgba(127, 127, 127, 0.1);
	margin: 316px -10000px 0px 0px;
	-pie-background: rgba(127, 127, 127, 0.1);
}

#u25875-4
{
	z-index: 32;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	color: #212126;
	line-height: 39px;
	letter-spacing: 1px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 22px;
}

#buttonu25874:hover #u25875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 11px -10000px 0px 0px;
}

#buttonu25874.ButtonSelected #u25875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 11px -10000px 0px 0px;
}

#buttonu25874:hover #u25875-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 30px;
}

#buttonu25874.ButtonSelected #u25875-4 p
{
	color: #212126;
	visibility: inherit;
}

#u21474
{
	z-index: 5;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 100px;
	background: url("../images/u21474_states.png") no-repeat 0px 0px;
}

#u21474:hover #u21474_states
{
	background: url("../images/u21474_states-r.png") no-repeat 0px 0px;
}

.hidpi #u21474
{
	background-image: url("../images/u21474_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u21474:hover #u21474_states
{
	background-image: url("../images/u21474_states-r_2x.png");
	background-size: 250px 200px;
}

#u21505
{
	z-index: 8;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 257px;
	left: 100px;
	background: url("../images/u21505_states.png") no-repeat 0px 0px;
}

#u21505:hover #u21505_states
{
	background: url("../images/u21505_states-r.png") no-repeat 0px 0px;
}

.hidpi #u21505
{
	background-image: url("../images/u21505_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u21505:hover #u21505_states
{
	background-image: url("../images/u21505_states-r_2x.png");
	background-size: 250px 200px;
}

#u21523
{
	z-index: 11;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 482px;
	left: 100px;
	background: url("../images/u21523_states.png") no-repeat 0px 0px;
}

#u21523:hover #u21523_states
{
	background: url("../images/u21523_states-r.png") no-repeat 0px 0px;
}

.hidpi #u21523
{
	background-image: url("../images/u21523_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u21523:hover #u21523_states
{
	background-image: url("../images/u21523_states-r_2x.png");
	background-size: 250px 200px;
}

#u21484
{
	z-index: 14;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 375px;
	background: url("../images/u21484_states.png") no-repeat 0px 0px;
}

#u21484:hover #u21484_states
{
	background: url("../images/u21484_states-r.png") no-repeat 0px 0px;
}

.hidpi #u21484
{
	background-image: url("../images/u21484_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u21484:hover #u21484_states
{
	background-image: url("../images/u21484_states-r_2x.png");
	background-size: 250px 200px;
}

#u21508
{
	z-index: 17;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 257px;
	left: 375px;
	background: url("../images/u21508_states.png") no-repeat 0px 0px;
}

#u21508:hover #u21508_states
{
	background: url("../images/u21508_states-r.png") no-repeat 0px 0px;
}

.hidpi #u21508
{
	background-image: url("../images/u21508_states_2x.png");
	background-size: 250.00000000000006px 200px;
}

.hidpi #u21508:hover #u21508_states
{
	background-image: url("../images/u21508_states-r_2x.png");
	background-size: 250.00000000000006px 200px;
}

#u21526
{
	z-index: 20;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 482px;
	left: 375px;
	background: url("../images/u21526_states.png") no-repeat 0px 0px;
}

#u21526:hover #u21526_states
{
	background: url("../images/u21526_states-r.png") no-repeat 0px 0px;
}

.hidpi #u21526
{
	background-image: url("../images/u21526_states_2x.png");
	background-size: 250.00000000000006px 200px;
}

.hidpi #u21526:hover #u21526_states
{
	background-image: url("../images/u21526_states-r_2x.png");
	background-size: 250.00000000000006px 200px;
}

#u21490
{
	z-index: 23;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 650px;
	background: url("../images/u21490_states.png") no-repeat 0px 0px;
}

#u21490:hover #u21490_states
{
	background: url("../images/u21490_states-r.png") no-repeat 0px 0px;
}

.hidpi #u21490
{
	background-image: url("../images/u21490_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u21490:hover #u21490_states
{
	background-image: url("../images/u21490_states-r_2x.png");
	background-size: 250px 200px;
}

#u21502
{
	z-index: 26;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 257px;
	left: 650px;
	background: url("../images/u21502_states.png") no-repeat 0px 0px;
}

#u21502:hover #u21502_states
{
	background: url("../images/u21502_states-r.png") no-repeat 0px 0px;
}

.hidpi #u21502
{
	background-image: url("../images/u21502_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u21502:hover #u21502_states
{
	background-image: url("../images/u21502_states-r_2x.png");
	background-size: 250px 200px;
}

#u21520
{
	z-index: 29;
	position: relative;
	width: 250px;
	margin-right: -10000px;
	margin-top: 482px;
	left: 650px;
	background: url("../images/u21520_states.png") no-repeat 0px 0px;
}

#u21474_states,#u21505_states,#u21523_states,#u21484_states,#u21508_states,#u21526_states,#u21490_states,#u21502_states,#u21520_states
{
	height: 200px;
	width: 250px;
	vertical-align: top;
}

#u21520:hover #u21520_states
{
	background: url("../images/u21520_states-r.png") no-repeat 0px 0px;
}

.hidpi #u21520
{
	background-image: url("../images/u21520_states_2x.png");
	background-size: 250px 200px;
}

.hidpi #u21520:hover #u21520_states
{
	background-image: url("../images/u21520_states-r_2x.png");
	background-size: 250px 200px;
}

#pu25823
{
	width: 0.01px;
	padding-bottom: 193px;
	margin-right: -10000px;
	margin-top: -50px;
	margin-left: 16px;
}

#u25823
{
	z-index: 57;
	width: 373px;
	padding-bottom: 182px;
	top: 40px;
	left: 50%;
	margin-left: -484px;
}

#pamphletu25824
{
	z-index: 58;
	width: 0.01px;
	height: 29px;
	padding-bottom: 80px;
	top: 40px;
	left: 50%;
	margin-left: -484px;
}

#u25831popup
{
	z-index: 59;
}

#u25832
{
	z-index: 60;
	width: 100px;
	height: 67px;
	margin-right: -10000px;
}

#u25834-4
{
	z-index: 61;
	width: 100px;
	min-height: 35px;
}

#u25834-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#u25833-4
{
	z-index: 65;
	width: 100px;
	min-height: 35px;
}

#u25834-4.MuseLinkActive,#u25833-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#u25835
{
	z-index: 69;
	width: 100px;
	margin-right: -10000px;
}

#u25836
{
	width: 100px;
	padding-bottom: 29px;
}

#u25836:hover
{
	margin: 0px;
}

#buttonu25837
{
	z-index: 71;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: -484px;
}

#buttonu25837:hover
{
	margin: 0px 0px 0px -484px;
}

#buttonu25837.ButtonSelected
{
	margin: 0px 0px 0px -484px;
}

#u25838-4
{
	z-index: 72;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu25837:hover #u25838-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#pamphletu25839
{
	z-index: 76;
	width: 0.01px;
	height: 29px;
	padding-bottom: 153px;
	top: 40px;
	left: 50%;
	margin-left: -348px;
}

#u25848popup
{
	z-index: 77;
}

#u25849
{
	z-index: 78;
	width: 100px;
	height: 140px;
	margin-right: -10000px;
}

#u25832_position_content,#u25849_position_content
{
	margin-top: -3px;
}

#u25851-4
{
	z-index: 79;
	width: 100px;
	min-height: 35px;
}

#u25833-4.MuseLinkActive,#u25851-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#u25850-4
{
	z-index: 83;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25850-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25853-4
{
	z-index: 87;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25850-4.MuseLinkActive,#u25853-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25852-4
{
	z-index: 91;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25853-4.MuseLinkActive,#u25852-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25844
{
	z-index: 95;
	width: 100px;
	margin-right: -10000px;
}

#u25845
{
	width: 100px;
	padding-bottom: 29px;
}

#u25836.PamphletThumbSelected,#u25845:hover
{
	margin: 0px;
}

#buttonu25846
{
	z-index: 97;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: -348px;
}

#buttonu25846:hover
{
	margin: 0px 0px 0px -348px;
}

#buttonu25846.ButtonSelected
{
	margin: 0px 0px 0px -348px;
}

#u25847-4
{
	z-index: 98;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu25837.ButtonSelected #u25838-4,#buttonu25846:hover #u25847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#pamphletu25856
{
	z-index: 102;
	width: 0.01px;
	height: 29px;
	padding-bottom: 119px;
	top: 40px;
	left: 50%;
	margin-left: -211px;
}

#u25857popup
{
	z-index: 103;
}

#u25831,#u25848,#u25857
{
	width: 100px;
	top: 39px;
}

#u25858
{
	z-index: 104;
	width: 100px;
	height: 106px;
	margin-right: -10000px;
}

#u25858_position_content
{
	margin-top: -3px;
	padding-bottom: 2px;
}

#u25859-4
{
	z-index: 105;
	width: 100px;
	min-height: 35px;
}

#u25851-4.MuseLinkActive,#u25859-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#u25859-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 0px;
}

#u25860-4
{
	z-index: 109;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25852-4.MuseLinkActive,#u25860-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25861-4
{
	z-index: 113;
	width: 100px;
	min-height: 35px;
	margin-top: 1px;
}

#u25860-4.MuseLinkActive,#u25861-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25861-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 1px 0px 0px;
}

#u25866
{
	z-index: 117;
	width: 100px;
	margin-right: -10000px;
}

#u25867
{
	width: 100px;
	padding-bottom: 29px;
}

#u25845.PamphletThumbSelected,#u25867:hover
{
	margin: 0px;
}

#u25867.PamphletThumbSelected
{
	margin: 0px;
}

#buttonu25868
{
	z-index: 119;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: -211px;
}

#buttonu25868:hover
{
	margin: 0px 0px 0px -211px;
}

#buttonu25868.ButtonSelected
{
	margin: 0px 0px 0px -211px;
}

#u25869-4
{
	z-index: 120;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu25846.ButtonSelected #u25847-4,#buttonu25868:hover #u25869-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#u10991
{
	z-index: 40;
	width: 79px;
	top: 29px;
	left: 50%;
	margin-left: -38px;
}

#buttonu10994
{
	z-index: 42;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: 127px;
}

#buttonu10994:hover
{
	margin: 0px 0px 0px 127px;
}

#buttonu10994.ButtonSelected
{
	margin: 0px 0px 0px 127px;
}

#u10995-4
{
	z-index: 43;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu25868.ButtonSelected #u25869-4,#buttonu10994:hover #u10995-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#buttonu10998
{
	z-index: 47;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: 263px;
}

#buttonu10998:hover
{
	margin: 0px 0px 0px 263px;
}

#buttonu10998.ButtonSelected
{
	margin: 0px 0px 0px 263px;
}

#u10999-4
{
	z-index: 48;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu10994.ButtonSelected #u10995-4,#buttonu10998:hover #u10999-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#buttonu11001
{
	z-index: 52;
	width: 100px;
	padding-bottom: 4px;
	top: 40px;
	left: 50%;
	margin-left: 400px;
}

#buttonu11001:hover
{
	margin: 0px 0px 0px 400px;
}

#buttonu11001.ButtonSelected
{
	margin: 0px 0px 0px 400px;
}

#u11002-4
{
	z-index: 53;
	width: 100px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 3px;
}

#buttonu10998.ButtonSelected #u10999-4,#buttonu11001:hover #u11002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#buttonu11001.ButtonSelected #u11002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#pu16581
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 720px;
	margin-left: -100px;
}

#u16581
{
	z-index: 124;
	padding-bottom: 2px;
}

#u16581_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#u25614
{
	z-index: 157;
	width: 306px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 130px;
}

#u25617
{
	z-index: 158;
	width: 90px;
	min-height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u25615
{
	z-index: 159;
	width: 107px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u25619
{
	z-index: 160;
	width: 160px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u16582-4
{
	z-index: 125;
	width: 311px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 445px;
}

#u16581-bw
{
	z-index: 124;
	margin-top: -2px;
	height: 46px;
}

#u16583-4
{
	z-index: 129;
	width: 311px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 445px;
}

#u16829
{
	z-index: 134;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 923px;
}

#u16843
{
	z-index: 137;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 966px;
}

#u16841
{
	z-index: 140;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1052px;
}

#u16831
{
	z-index: 143;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 880px;
}

#u16833
{
	z-index: 146;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 751px;
}

#u16839
{
	z-index: 149;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 794px;
}

#u16837
{
	z-index: 152;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1009px;
}

#u16835
{
	z-index: 155;
	margin-bottom: -5px;
	width: 56px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 837px;
}

#u16829_states,#u16843_states,#u16841_states,#u16831_states,#u16833_states,#u16839_states,#u16837_states,#u16835_states
{
	height: 56px;
	width: 56px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 79px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -720px;
}

