.Video,.Menu-Items,.Daniel-Reinecke,.Home-Page-Menu,.Photography-Page-Menu,.Testx2
{
	font-family: quicksand-n4, sans-serif;
}

.Image-Detail-Tags,.Description-Quote,.Imaage-Detail-Tag-Righ-Align
{
	font-family: ovo-n4, serif;
}

.Image-Title,.Image-Title-Verticle,.Photo-Submenus
{
	font-family: muli-n3, sans-serif;
}

#u8591-4
{
	font-family: quicksand-n4, sans-serif;
}

#u8596-4
{
	font-family: quicksand-n4, sans-serif;
}

#u8598-4
{
	font-family: quicksand-n4, sans-serif;
}

#u8600-4
{
	font-family: quicksand-n4, sans-serif;
}

#u8522-4
{
	font-family: quicksand-n3, sans-serif;
}

#u8528-4
{
	font-family: quicksand-n3, sans-serif;
}

#u8533-4
{
	font-family: quicksand-n3, sans-serif;
}

#u8536-4
{
	font-family: quicksand-n3, sans-serif;
}

