#buttonu8650
{
	border-color: #C9DFF2;
	background-color: #212126;
}

#u8651
{
	background-color: transparent;
	position: relative;
}

#buttonu8688
{
	border-style: solid;
	border-color: #C9DFF2;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu8688:hover
{
	border-color: #C9DFF2;
	background-color: #545454;
}

#u8689-4
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #C9DFF2;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu8688:hover #u8689-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u8689-2
{
	padding-top: 3px;
}

#pamphletu8626,#u8633
{
	position: relative;
}

#u8634
{
	position: absolute;
	border-color: #DEDEDE;
	background-color: #DEE9F3;
	background-color: rgba(92, 148, 196, 0.2);
	-pie-background: rgba(92, 148, 196, 0.2);
}

#u8634:hover
{
	border-color: #999999;
	background-color: #DEE9F3;
	background-color: rgba(92, 148, 196, 0.2);
	-pie-background: rgba(92, 148, 196, 0.2);
}

#u8634.PamphletThumbSelected
{
	border-color: #C9DFF2;
	background-color: #BDD4E7;
	background-color: rgba(92, 148, 196, 0.4);
	-pie-background: rgba(92, 148, 196, 0.4);
}

#u8635
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u8637
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u8636
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u8638
{
	position: absolute;
	background-color: transparent;
}

#u8639
{
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
}

#buttonu8640
{
	border-style: solid;
	border-color: #212126;
	background-color: #E0E1E5;
	position: relative;
	border-width: 0px 0px 1px;
}

#buttonu8640:hover
{
	background-color: #545454;
}

#u8641-4
{
	background-color: transparent;
	font-size: 16px;
	color: #3C3C3C;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu8640:hover #u8641-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu8648
{
	border-style: solid;
	border-color: #212126;
	background-color: #E0E1E5;
	position: relative;
	border-width: 1px 0px;
}

#buttonu8648:hover
{
	background-color: #545454;
}

#u8649-4
{
	background-color: transparent;
	font-size: 16px;
	color: #3C3C3C;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu8648:hover #u8649-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu8642
{
	border-style: solid;
	border-color: #212126;
	background-color: #E0E1E5;
	position: relative;
	border-width: 1px 0px;
}

#buttonu8642:hover
{
	background-color: #545454;
}

#u8643-4
{
	background-color: transparent;
	font-size: 16px;
	color: #3C3C3C;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu8642:hover #u8643-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu8644
{
	border-style: solid;
	border-color: #212126;
	background-color: #E0E1E5;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
	border-width: 1px 0px 0px;
}

#buttonu8644:hover
{
	background-color: #545454;
}

#buttonu8640.ButtonSelected,#buttonu8648.ButtonSelected,#buttonu8642.ButtonSelected,#buttonu8644.ButtonSelected
{
	background-color: #212126;
}

#u8645-4
{
	background-color: transparent;
	font-size: 16px;
	color: #3C3C3C;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu8644:hover #u8645-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#buttonu8658
{
	border-style: solid;
	border-color: #C9DFF2;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu8658:hover
{
	border-color: #C9DFF2;
	background-color: #545454;
}

#u8659-4
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #C9DFF2;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu8658:hover #u8659-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u8659-2
{
	padding-top: 3px;
}

#buttonu8661
{
	border-style: solid;
	border-color: #C9DFF2;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu8661:hover
{
	border-color: #C9DFF2;
	background-color: #545454;
}

#buttonu8688.ButtonSelected,#buttonu8658.ButtonSelected,#buttonu8661.ButtonSelected
{
	border-color: #FBB03B;
	background-color: transparent;
}

#u8662-4
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #C9DFF2;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu8661:hover #u8662-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu8688.ButtonSelected #u8689-4 p,#buttonu8640.ButtonSelected #u8641-4 p,#buttonu8648.ButtonSelected #u8649-4 p,#buttonu8642.ButtonSelected #u8643-4 p,#buttonu8644.ButtonSelected #u8645-4 p,#buttonu8658.ButtonSelected #u8659-4 p,#buttonu8661.ButtonSelected #u8662-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#u8662-2
{
	padding-top: 3px;
}

