.version.video /* version checker */
{
	color: #00000F;
	background-color: #394006;
}

@-ms-viewport
{
	width: 375px;
}

@-webkit-viewport
{
	width: 375px;
}

@-o-viewport
{
	width: 375px;
}

@-moz-viewport
{
	width: 375px;
}

@viewport
{
	width: 375px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 375px;
	min-height: 583.7994999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 34px;
}

#pbuttonu8543
{
	width: 0.01px;
}

#buttonu8543
{
	z-index: 16;
	padding-bottom: 1px;
}

#buttonu8543:hover
{
	margin: 0px;
}

#buttonu8543.ButtonSelected
{
	margin: 0px;
}

#u8562
{
	z-index: 17;
	width: 53px;
	margin-right: -10000px;
	left: 25px;
}

#buttonu8543:hover #u8562
{
	margin: 0px -10000px 0px 0px;
}

#buttonu8543.ButtonSelected #u8562
{
	margin: 0px -10000px 0px 0px;
}

#buttonu8543-bw
{
	z-index: 16;
	height: 49px;
}

#pamphletu8570
{
	z-index: 19;
	width: 0.01px;
	height: 31px;
	padding-bottom: 219px;
	margin-right: -10000px;
	left: 175px;
}

#u8581
{
	z-index: 20;
	width: 26px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 152px;
}

#pu8582
{
	position: absolute;
	width: 0.01px;
	top: -18px;
	left: -22px;
}

#u8582
{
	width: 70px;
	height: 50px;
}

#pu8582:hover #u8582
{
	width: 70px;
	height: 50px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu8582.PamphletThumbSelected #u8582
{
	width: 70px;
	height: 49px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u8605
{
	z-index: 23;
	width: 26px;
	height: 3px;
}

#pu8582:hover #u8605
{
	width: 26px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 22px;
}

#pu8582.PamphletThumbSelected #u8605,#pu8582 #u8605
{
	width: 26px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 22px;
}

#u8607
{
	z-index: 24;
	width: 26px;
	height: 3px;
}

#pu8582:hover #u8607
{
	width: 26px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 22px;
}

#pu8582.PamphletThumbSelected #u8607,#pu8582 #u8607
{
	width: 26px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 22px;
}

#u8606
{
	z-index: 25;
	width: 26px;
	height: 3px;
}

#pu8582:hover #u8606
{
	width: 26px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 22px;
}

#pu8582.PamphletThumbSelected #u8606,#pu8582 #u8606
{
	width: 26px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 22px;
}

#u8577popup
{
	z-index: 28;
}

#u8577
{
	width: 200px;
	top: 50px;
}

#u8578
{
	z-index: 29;
	width: 200px;
	height: 200px;
	margin-right: -10000px;
}

#buttonu8590
{
	z-index: 30;
	width: 200px;
	padding-bottom: 13px;
}

#buttonu8590:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#buttonu8590.ButtonSelected
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u8591-4
{
	z-index: 31;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 41px;
}

#buttonu8590:hover #u8591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu8595
{
	z-index: 35;
	width: 200px;
	padding-bottom: 13px;
	top: -2px;
	margin-bottom: -2px;
}

#buttonu8595:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u8596-4
{
	z-index: 36;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 41px;
}

#buttonu8590.ButtonSelected #u8591-4,#buttonu8595:hover #u8596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu8597
{
	z-index: 40;
	width: 200px;
	padding-bottom: 13px;
	top: -2px;
	margin-bottom: -2px;
}

#buttonu8595.ButtonSelected,#buttonu8597:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u8598-4
{
	z-index: 41;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 41px;
}

#buttonu8595.ButtonSelected #u8596-4,#buttonu8597:hover #u8598-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu8599
{
	z-index: 45;
	width: 200px;
	padding-bottom: 13px;
	top: -2px;
	margin-bottom: -2px;
}

#buttonu8597.ButtonSelected,#buttonu8599:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#buttonu8599.ButtonSelected
{
	width: 200px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u8600-4
{
	z-index: 46;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 41px;
}

#buttonu8597.ButtonSelected #u8598-4,#buttonu8599:hover #u8600-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu8599.ButtonSelected #u8600-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#pamphletu12337
{
	z-index: 2;
	width: 0.01px;
	height: 500px;
	top: -200px;
	margin-bottom: -200px;
	position: relative;
}

#u12338
{
	z-index: 3;
	width: 375px;
	position: relative;
	margin-right: -10000px;
}

#u12340
{
	position: absolute;
	width: 375px;
	height: 250px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../../images/cinereelthumbmobile01.jpg") no-repeat center center;
	background-size: cover;
}

#u12340:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	margin: 0px;
	background-size: cover;
}

#u12340.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-color: #DEDEDE;
	margin: 0px;
	background-size: cover;
}

.hidpi #u12340
{
	background-image: url("../../images/cinereelthumbmobile01_2x.jpg");
}

#u12341
{
	position: absolute;
	width: 375px;
	height: 250px;
	border-color: #999999;
	top: 250px;
	background: #999999 url("../../images/cinereelthumbmobile02.jpg") no-repeat center center;
	background-size: cover;
}

#u12341:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #6B6B6B;
	margin: 0px;
	background-size: cover;
}

#u12341.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #6B6B6B;
	margin: 0px;
	background-size: cover;
}

.hidpi #u12341
{
	background-image: url("../../images/cinereelthumbmobile02_2x.jpg");
}

#u12344
{
	position: absolute;
	width: 375px;
	background-color: transparent;
}

#u12344popup
{
	z-index: 6;
}

#u12347
{
	z-index: 7;
	width: 375px;
	height: 626px;
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u12367
{
	z-index: 8;
	width: 375px;
	min-height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u12346
{
	z-index: 9;
	width: 375px;
	height: 626px;
	border-style: none;
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u12335
{
	z-index: 10;
	width: 375px;
	min-height: 237px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u12350
{
	position: absolute;
	width: 375px;
	border-style: none;
	border-color: transparent;
	background-color: #C9DFF2;
	padding-bottom: 28px;
	top: 319px;
}

#u12350:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	margin: 0px;
}

#u12350:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	margin: 0px;
}

#u12767-4
{
	z-index: 12;
	width: 121px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #212126;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 127px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 375px;
}

#page .verticalspacer
{
	clear: both;
}

